.glowing-border {
  --gradient-glow: yellow, green, blue, purple, red;

  margin-block: 3rem;
  padding: 8rem 3rem;
  max-width: 60ch;

  /*background: pink;*/
  border: 10px solid transparent;
  background: conic-gradient(var(--gradient-glow));
}

@layer general-styling {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui;
    /*color-scheme: dark;*/
  }

  body {
    margin: 0;
    overflow-x: clip;

    /* --surface: purple; */

    /*background: var(--surface);*/
  }
}
