/* A Better way to animate the color change. */
@property --glow-deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

/* the colors don't need to be registed */
@property --clr-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: red;
}

@property --clr-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: yellow;
}

@property --clr-3 {
  syntax: '<color>';
  inherits: true;
  initial-value: green;
}

@property --clr-4 {
  syntax: '<color>';
  inherits: true;
  initial-value: blue;
}

@property --clr-5 {
  syntax: '<color>';
  inherits: true;
  initial-value: purple;
}

.glowing-border {
  /*--gradient-glow: yellow, green, blue, purple, red;*/
  /* Start and end with the same color of the right side circle (1st .glowing-border) can use conic-gradient early. */
  /*--gradient-glow: red, yellow, green, blue, purple, red;*/
  /* The reason we use @property is so that we can animate this. */
  --gradient-glow: var(--clr-1), var(--clr-2), var(--clr-3), var(--clr-4),
    var(--clr-5), var(--clr-1);

  margin-block: 3rem;
  padding: 8rem 3rem;
  max-width: 60ch;

  /* Note: use background image rather than border-image because border image does not allow user ot use border gradient. */
  /*background: pink;*/
  /*border: 10px solid transparent;*/
  border: var(--border-width, 3px) solid transparent;
  border-left: 0;
  border-radius: 0 100vw 100vw 0;

  /*background: conic-gradient(var(--gradient-glow));*/
  /*background:*/
  /*  linear-gradient(white, white) padding-box,*/
  /*  conic-gradient(var(--gradient-glow)) border-box;*/
  /*background:*/
  /*  linear-gradient(white, white) padding-box,*/
  /*  conic-gradient(from -90deg, var(--gradient-glow)) border-box;*/

  /* Use Canvas color because Canvas color is your background color if you haven't declare one. So we can use dark mode */
  /*background:*/
  /*  linear-gradient(Canvas 0 0) padding-box,*/
  /*  conic-gradient(from -90deg, var(--gradient-glow)) border-box;*/

  /* Make sure it set to the background color from body if it is set */
  background:
    linear-gradient(var(--surface, canvas) 0 0) padding-box,
    conic-gradient(from -90deg, var(--gradient-glow)) border-box;

  position: relative;
  /* create a new stacking context, to make the z-index: -1 in ::after not able to go behind its parent. */
  isolation: isolate;

  animation: glow 10s infinite linear;
}

@keyframes glow {
  50% {
    --clr-1: yellow;
    --clr-2: blue;
    --clr-3: red;
    --clr-4: green;
    --clr-5: purple;
  }
}

.glowing-border::before,
.glowing-border::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

/* This the covering white area within .glow-border */
.glowing-border::before {
  z-index: -1;
  background: var(--surface, canvas);
  /*inset: 2rem;*/
  inset: 0.5rem;

  /*left: 0;*/
  /* you can tell it's not a perfect half circle if you comment out filter: blur line below but guess it doesn't really matter
     We go for this approach because if we just using left:0, the filter:blur will make the left side colorful as well.
  */
  scale: 1.2 1;
  transform-origin: right;

  /*filter: blur(2rem);*/
  /*filter: blur(1rem);*/
  filter: blur(var(--glow-size, 1rem));
}

/* This is the actual blur effect area. */
.glowing-border::after {
  /*z-index: -1;*/
  z-index: -2; /* to be behind z-index: -1 in .glow-broder::before, so we can see the <h1> and <p> text */

  /*inset: 0;*/
  /*inset: -2rem;*/
  inset: -1.5rem;

  /*background: purple;*/
  background: conic-gradient(from -90deg, var(--gradient-glow));

  /* If you comment out the filter line, you can actually seen the outer part is lighter color from the inner part, or the source of origin is the center of the element */
  /*filter: blur(3rem);*/
  /*filter: blur(1rem);*/
  filter: blur(var(--glow-size, 1rem));
  /*opacity: 0.5;*/
  opacity: var(--glow-intensity, 0.125);
}

.glowing-border.right {
  margin-inline-start: auto;
  border-radius: 100vw 0 0 100vw;
  border: var(--border-width, 3px) solid transparent;
  border-right: 0;

  &::before {
    transform-origin: left;
  }
}

@layer general-styling {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui;
    color-scheme: dark;
  }

  body {
    margin: 0;
    overflow-x: clip;

    /*--surface: purple;*/

    background: var(--surface);
  }
}
