.glowing-border {
  margin-block: 3rem;
  padding: 8rem 3rem;
  max-width: 60ch;

  background: pink;
}

@layer general-styling {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui;
    /*color-scheme: dark;*/
  }

  body {
    margin: 0;
    overflow-x: clip;

    /* --surface: purple; */

    /*background: var(--surface);*/
  }
}
